::before,
::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

body {
    margin: 0;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    padding-top: 5rem;
}

h2, h1, p{
    margin: 0;
}

#nav-bar-container {
    display: none;
    gap: 1rem;
}

#nav-bar {
    background-color: rgb(47, 152, 160);
    color: rgb(255, 251, 251);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    height: 2rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}


#main-container{
    height: 50%;
    display: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem;
}

#main-title{
    text-align: center;
}

#main-desc{
    text-align: justify;
}

#title{
    color: rgb(0, 68, 255);
}

    #main-container{
        flex-direction: row;
    }

    .barrabusqueda{
        padding: 10 40px 10 25px;
        position: center;
        margin: 0 auto;
        padding-top: 6px;
        height: 600px;
        align-content: center;
        align-items: center;
    }

    .barrabusqueda {
        width: 150px ;
        height: 30px;
        max-width: 60%;
        max-height: 40%;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }

    ol{
        height: 10rem;
        background-color: rgb(0, 0, 0);
        overflow: auto;
        color: #ffffff;

    }